body{
  height: 100vh;
}
.main{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.quiz-app {
  font-family: Arial, sans-serif;
 width: 35%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;

}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-count {
  margin-bottom: 10px;
  font-weight: bold;
}

.question-text {
  margin-bottom: 20px;
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #388e3c;
}

.score-section {
  text-align: center;
  margin-top: 30px;
}

.score-section h2 {
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
}

